/**
* Contains all styles globally relevant to the SPA and the HTML document housing it
*/

*,
*::before,
*::after {
  /* Box sizing of border-box is the superior default for SPAs */
  box-sizing: border-box;

  /* 
  * In general I am not a fan of different items having default margin and padding
  * Especially margin, as in 2025 margin is discouraged in favor of padding

  * HOWEVER, note that this means headers and other items need to have manual margin an padding
  * However I believe this is better than relying on browser default styles
  * If I want to, in App.css I can add some carefully crafted defaults for different text elements
  * 
  * @TODO: Figure out how and if this effects inputs and buttons
  */
  margin: 0;
  padding: 0;
}

html {
  /* Set 1rem to equal 16px */
  font-size: 16px;
  /* Enable smooth scrolling */
  scroll-behavior: smooth;
}

/* Resize body and app root element to occupy entire viewport
* This is the superior default for SPAs and highly interactive web apps
*/


body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  line-height: 1.5;
  overflow: auto;
}

code:not(.monaco-editor){
  font-family: monospace;
}

/* 
* A button should represent a clickable item to perform an action
* There should never be any legitimate reason to need to highlight the text within a button
*/
button{
  cursor: pointer;
  user-select: none;
}


